<%- include ('partials/head') %>
<body>

    <%- include ('partials/header') %>
    <%- include ('partials/navigation')%>
    <%if(video){%>
    <video src=/<%-video.fileUrl%> controls=true></video>
    <h1><%=video.title%></h1>
    <h3><%=video.description%></h3>
    <h3><%=video.createdAt%></h3>
    <h3><%=video.sharedStatus%></h3>

    

    
    <%if(user&&user.id==video.creator){%>
        <form action=<%=routes.shareSelector(video.id)%> method="post">
            <input type="submit" id="shareSelector" value="Share or not">
            </form>

        <a href=<%=routes.deleteVideo(video.id)%>>DELETE</a>
        <%}%>
    <%}else if(urlVideo){%>

    <video src=<%-urlVideo.url%> controls=true></video>
    <h1><%=urlVideo.title%></h1>
    <h3><%=urlVideo.description%></h3>
    <h3><%=urlVideo.createdAt%></h3>
    <h3><%=urlVideo.sharedStatus%></h3>
    
    <%if(user&&user.id==urlVideo.creator){%>
        <form action=<%=routes.shareSelector(urlVideo.id)%> method="post">
            <input type="submit" id="shareSelector" value="Share or not">
            </form>

        <a href=<%=routes.deleteVideo(urlVideo.id)%>>DELETE VIDEO</a>
        <%}%>

    <%}else if(embeddedVideo){%>
    <%-embeddedVideo.url%>
    <h1><%=embeddedVideo.title%></h1>
    <h3><%=embeddedVideo.description%></h3>
    <h3><%=embeddedVideo.createdAt%></h3>
    <h3 id="sharedStatus"><%=embeddedVideo.sharedStatus%></h3>

    <%if(user&&user.id==embeddedVideo.creator){%>
        
            <input type="button" id="shareSelector" value="Share or not">
            
    <a href=<%=routes.deleteVideo(embeddedVideo.id)%>>DELETE VIDEO</a>
    
    <%  }%>
    <%if(user){%>
        <form id="postComment" action=<%=routes.videoComments(embeddedVideo.id)%> method="post">
            <input id="contentsOfComment"type="text" name="comment" required=true>
            <input type="submit" value="Post!">
        </form>
        <%}%>
        <h1>Comments</h1>
        <div id="newCommentList">
        
        </div>
<%for(i=0; i< commentsList.length; i++){%>
        <div><%-commentsList[i].name%> :
    <%=embeddedVideo.comment[i].contents%>
    <%=embeddedVideo.comment[i].createdAt%>
    <%if(user&&user.id==embeddedVideo.comment[i].createdBy){%>
    <form action=<%=routes.deleteVideoComment(embeddedVideo.comment[i]._id)%> method ="post">
        <input type="submit" value="X">
    </form>
</div>
<%}%>
<%}%>

<%}%>
    
    <script src="/vanilla/videoDetail.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <%- include ('partials/footer')%>
</body>
</html>