<%- include ('partials/head') %>
<link rel="stylesheet" type="text/css" href="/css/videoDetail.css">
<body>

    <%- include ('partials/header') %>
    <%- include ('partials/navigation')%>
    <%if(video){%>
    <div class="video_container">
        <video class="video" src=/<%-video.fileUrl%> controls=true></video>
    </div>
    <div class="video_infos_container">
        <div class="video_infos">
            <h1><%=video.title%></h1>
        <h3><%=video.description%></h3>
        <h3><%=video.createdAt%></h3>
        <h3><%=video.sharedStatus%></h3>
        <%if(user&&user.id==video.creator){%>
            <form action=<%=routes.shareSelector(video.id)%> method="post">
                <input class="shared_btn" type="submit" id="shareSelector" value="Share or not">
            </form>
            
            <a class="delete_video_btn" href=<%=routes.deleteVideo(video.id)%>>DELETE VIDEO</a>
            <%}%>
            <h2>Comments</h2>
        <%if(user){%>
            <form action=<%=routes.videoComments(video.id)%> method="post">
                <input type="text" name="comment" placeholder="Comment here!">
                <input type="submit" value="POST!">
            </form>
            <%}%>
            
            <%for(i=0 ; i < video.comment.length ; i++){%>
            
            <div>
            <%=video.comment[i].contents%>
            <%=video.comment[i].createdAt%>
            </div>
            <%}%>
        </div>
        </div>

    </div>
</body>
    <%}else if(urlVideo){%>
        <div class="video_container">
        <video class="video" src=<%-urlVideo.url%> controls=true></video>
        </div>
        <div class="video_infos_container">
            <div class="video_infos">
                <h1><%=urlVideo.title%></h1>
            <h3><%=urlVideo.description%></h3>
            <h3><%=urlVideo.createdAt%></h3>
            <h3><%=urlVideo.sharedStatus%></h3>
            
            <%if(user&&user.id==urlVideo.creator){%>
                <form action=<%=routes.shareSelector(urlVideo.id)%> method="post">
                    <input class="shared_btn" type="submit" id="shareSelector" value="Share or not">
                </form>
                
                <a class="delete_video_btn" href=<%=routes.deleteVideo(urlVideo.id)%>>DELETE VIDEO</a>
                <%}%>
            </div>
        </div>

    <%}else if(embeddedVideo){%>
        <body>
        <div class="embed_video_cover">
            <div class="embed_video">
                <%-embeddedVideo.url%>
            </div>
        </div>

    <div class="video_infos_container">
    <div class="video_infos">
    <h1><%=embeddedVideo.title%></h1>
    <h3><%=embeddedVideo.description%></h3>
    <h3><%=embeddedVideo.createdAt%></h3>
    <h3 id="sharedStatus"><%=embeddedVideo.sharedStatus%></h3>

    <%if(user&&user.id==embeddedVideo.creator){%>
        <input class="shared_btn" type="button" id="shareSelector" value="Share or not">
        
        <a class="delete_video_btn" href=<%=routes.deleteVideo(embeddedVideo.id)%>>DELETE VIDEO</a>
        
        <%  }%>
        <h2>Comments</h2>
        <%if(user){%>
            <form id="postComment" action=<%=routes.videoComments(embeddedVideo.id)%> method="post">
                <input id="contentsOfComment"type="text" name="comment" required=true>
            <input type="submit" value="Post!">
        </form>
        <%}%>
        <div id="newCommentList">
        
        </div>
        <%for(i=0; i< commentsList.length; i++){%>
            <div><%-commentsList[i].name%> :
                <%=embeddedVideo.comment[i].contents%>
                <%=embeddedVideo.comment[i].createdAt%>
                <%if(user&&user.id==embeddedVideo.comment[i].createdBy){%>
                    
                    <form class="deleteVideoComment" action=<%=routes.deleteVideoComment(embeddedVideo.comment[i]._id)%> method ="post">
                        <input type="submit" value="X">
                    </form>
                </div>
                <%}%>
                <%}%>
            </div>
            </div>

<%}%>
    
    <script src="/vanilla/videoDetail.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <%- include ('partials/footer')%>
</body>
</html>